<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Corona Tracker</title>
</head>
<body>
    <h1>Corona Tracker</h1>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalConfirmed}"></h1>
        <p class="lead">Confirmed cases</p>
        <h1 class="display-4" th:text="${totalDeath}"></h1>
        <p class="lead">Deaths</p>
    </div>
    <div class="container">
        <table class="table" id="confirmedTable">
            <tr>
                <th scope="col">Region</th>
                <th scope="col">State</th>
                <th scope="col">Cases</th>
                <th scope="col">Change</th>
            </tr>
            <tr th:each="locationConfirmedStat : ${locationConfirmedStats}">
                <td th:text="${locationConfirmedStat.region}"></td>
                <td th:text="${locationConfirmedStat.state}"></td>
                <td th:text="${locationConfirmedStat.latestTotalCases}"></td>
                <td th:text="${locationConfirmedStat.deltaFromPreviousCases}"></td>
            </tr>
        </table>
        <table class="table" id="deathTable">
            <tr>
                <th scope="col">Deaths</th>
                <th scope="col">Change</th>
            </tr>
            <tr th:each="locationDeathStat : ${locationDeathStats}">
                <td th:text="${locationDeathStat.latestTotalDeath}"></td>
                <td th:text="${locationDeathStat.deltaFromPreviousDeaths}"></td>
            </tr>
        </table>
    </div>
</body>
</html>